<!-- Effet de chargement amélioré -->
<div *ngIf="isLoading" class="fixed inset-0 z-50 bg-white bg-opacity-90 flex flex-col items-center justify-center">
  <!-- Loader centré -->
  <div class="flex justify-center items-center">
      <div class="loader-container">
          <div class="loader-outer-ring"></div>
          <div class="loader-inner-ring"></div>
          <div class="loader-dot"></div>
      </div>
  </div>

  <div class="text-center mt-6">
      <h3 class="text-lg font-medium text-gray-700 mb-1">Chargement en cours</h3>
      <p class="text-sm text-gray-500">
          Veuillez patienter<span class="loading-dots">...</span>
      </p>
  </div>
</div>
<div *ngIf="!isLoading">
    <!-- Header -->
    <div class="d-flex align-items-center justify-content-between mb-4">
      <a class="btn btn-outline-secondary" (click)="redirectBack()">
        <i class="fas fa-arrow-left me-2"></i> Retour
      </a>
      <h1 class="h4 text-primary fw-bold m-0" *ngIf="demande">Détails de la demande</h1>
      <h1 class="h4 text-primary fw-bold m-0" *ngIf="commande">Détails de la commande</h1>
    </div>
  
    <!-- Card principale -->
    <div class="card shadow-sm border-0">
      <div class="card-header bg-white border-bottom d-flex justify-content-between align-items-center" *ngIf="demande">
        <h6 class="m-0 fw-bold text-primary d-flex align-items-center" >
          <i class="fas fa-file-alt me-2"></i>
          Demande N° {{ demande.uid }}
          <!-- <strong class="ms-2" style="font-size: 20px;">{{ demande?.societe }}</strong> -->
        </h6>
      
        <button class="btn btn-outline-primary btn-sm" (click)="ouvrirLien(demande.lienPj)">
          <i class="fas fa-paperclip me-1"></i> Voir PJ
        </button>
      </div> 
      <div class="card-header bg-white border-bottom d-flex justify-content-between align-items-center" *ngIf="commande">
        <h6 class="m-0 fw-bold text-primary d-flex align-items-center">
          <i class="fas fa-file-alt me-2"></i>
          Commande N° {{ commande.uid }}
          <!-- <strong class="ms-2" style="font-size: 20px;">{{ demande?.societe }}</strong> -->
        </h6>
      
        <button class="btn btn-outline-primary btn-sm" (click)="ouvrirLien(commande.lienPj)">
          <i class="fas fa-paperclip me-1"></i> Voir PJ
        </button>
      </div>
  
      <div class="card-body">
        <div class="row mb-3" *ngIf="demande">
          <div class="col-md-6">
            <p class="mb-2"><strong>Date de la demande :</strong> {{ demande.date }}</p>
            <p class="mb-2"><strong>Société :</strong> {{ demande.societe }}</p>
          </div>
          <div class="col-md-6">
            <p class="mb-2"><strong>Demandeur :</strong> {{ demande.demandeur }}</p>
            <p class="mb-2"><strong>Montant Total:</strong> {{ demande.montant | number:'1.2-2'}} {{demande.devise}}</p>
            <p class="mb-2"><strong>Code Analytique:</strong>{{ demande.codeA }}</p>
          </div>
        </div>
        <div class="row mb-3" *ngIf="commande">
          <div class="col-md-6">
            <p class="mb-2 text-primary"><strong class="text-gray-800">Date de la commande :</strong> {{ commande.date }}</p>
            <p class="mb-2 text-primary"><strong class="text-gray-800">Société :</strong> {{ commande.societe }}</p>
            <p class="mb-2 text-primary"><strong class="text-gray-800">Beneficiaire :</strong> {{ commande.beneficiaire}}</p>
          </div>
          <div class="col-md-6">
            <p class="mb-2 text-primary"><strong class="text-gray-800">Demandeur :</strong> {{ commande.demandeur }}</p>
            <p class="mb-2 text-primary"><strong class="text-gray-800">Montant Total:</strong> {{ commande.montant | number:'1.2-2'}} {{ commande.devise }}</p>
            <p class="mb-2 text-primary"><strong class="text-gray-800">Mode de payement:</strong> {{ commande.modepayement}}</p>
            <p class="mb-2 text-primary"><strong class="text-gray-800">Code Analytique:</strong> {{ commande.codeA}}</p>
          </div>
        </div>
        <div *ngIf="!isLoading">
          <h1 class="h3 mb-3 text-gray-800 font-bold" *ngIf="demande"><i class="fas fa-fw fa-list"></i>Detail de la demande</h1>
          <h1 class="h3 mb-3 text-gray-800 font-bold" *ngIf="commande"><i class="fas fa-fw fa-list"></i>Detail de la commande</h1>
              <div class="table-responsive" style="font-size: 12px;">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" *ngIf="demande">
                  <thead>
                    <tr class="text-center">
                        <th>N°</th>
                        <th>Article</th>
                        <th>Quantite</th>
                        <th>Prix Unitaire</th>
                        <th>Montant</th>
                        <th>Devise</th>
                        <th>Fournisseur</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="cursor-pointer">
                  <tr *ngFor="let detail of details" class="hover:bg-gray-50 transition-colors duration-50">
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-black-500">
                      {{detail.uid}}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-black-500">
                      {{detail.objet}}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-black-500">
                      {{detail.quantite | number:'1.2-2'}}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-black-500">
                      {{detail.pu | number:'1.2-2'}}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-black-500">
                      {{detail.montant | number:'1.2-2'}}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-black-500">
                      {{detail.devise}}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-black-500">
                      {{detail.fournisseur}}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-black-500" *ngIf="detail.etat.idEtat == 1">
                      <a  class="btn btn-success btn-icon-split btn-valide" *ngIf="detail" (click)="toValidArticle(detail.uid,detail.ref_dem,detail.code_article)">
                          <span class="icon text-white-50">
                              <i class="fas fa-check"></i>
                          </span>
                          <span class="text">valider</span>
                      </a>
                      <a  class="btn btn-danger btn-icon-split" *ngIf="detail" (click)="toRefuseArticle(detail.uid,detail.ref_dem,detail.code_article)">
                          <span class="icon text-white-12">
                              <i class="fas fa-times"></i>
                          </span>
                          <span class="text">refuser</span>
                      </a>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-success" *ngIf="detail.etat.idEtat == 2">
                      <span class="text">validée</span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-danger" *ngIf="detail.etat.idEtat == 3">
                      <span class="text">refusée</span>
                    </td>
                  </tr>
                </tbody>
                </table>
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" *ngIf="commande">
                  <thead>
                    <tr class="text-center">
                        <th>N°</th>
                        <th>Article</th>
                        <th>Quantite</th>
                        <th>Prix Unitaire</th>
                        <th>Montant</th>
                        <th>Devise</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="cursor-pointer">
                  <tr *ngFor="let detail of detailbcs" class="hover:bg-gray-50 transition-colors duration-50">
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-black-500">
                      {{detail.uid}}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-black-500">
                      {{detail.objet}}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-black-500">
                      {{detail.quantite | number:'1.2-2'}}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-black-500">
                      {{detail.pu | number:'1.2-2'}}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-black-500">
                      {{detail.montant | number:'1.2-2'}}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-black-500">
                      {{detail.devise}}
                    </td>
                  </tr>
                </tbody>
                </table>
          </div>
        </div>
      </div>
  
      <!-- Actions -->
      <div class="card-footer bg-white border-top d-flex justify-content-end gap-3">
        <div class="d-flex" *ngIf="!isAprouve"> 
          <a  class="btn btn-success btn-icon-split btn-valide" *ngIf="demande" (click)="toValid(demande.uid)">
              <span class="icon text-white-50">
                  <i class="fas fa-check"></i>
              </span>
              <span class="text">valider</span>
          </a>
          <a  class="btn btn-danger btn-icon-split" *ngIf="demande"  (click)="toRefuse(demande.uid)">
              <span class="icon text-white-12">
                  <i class="fas fa-times"></i>
              </span>
              <span class="text">refuser</span>
          </a>
        </div>
        <div *ngIf="isAprouve && demande && demande.etat" class="alert alert-success d-flex align-items-center" role="alert">
          <i class="bi bi-check-circle-fill me-2"></i>
          <span>Cette demande est déjà examiné et la demande est <strong>{{ demande.etat.def }}</strong></span>
        </div>        
      </div>
      <div class="card-footer bg-white border-top d-flex justify-content-end gap-3">
        <div class="d-flex" *ngIf="!isAprouve"> 
          <a  class="btn btn-success btn-icon-split btn-valide" *ngIf="commande" (click)="toValidbc(commande.uid)">
              <span class="icon text-white-50">
                  <i class="fas fa-check"></i>
              </span>
              <span class="text">valider</span>
          </a>
          <a  class="btn btn-danger btn-icon-split" *ngIf="commande"  (click)="toRefusebc(commande.uid)">
              <span class="icon text-white-12">
                  <i class="fas fa-times"></i>
              </span>
              <span class="text">refuser</span>
          </a>
        </div>
        <div *ngIf="isAprouve && commande && commande.etat" class="alert alert-success d-flex align-items-center" role="alert">
          <i class="bi bi-check-circle-fill me-2"></i>
          <span>Cette demande est déjà examiné et la commande est <strong>{{ commande.etat.def }}</strong></span>
        </div>        
      </div>
    </div>
</div>
  